@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li a {
    font-family: Roboto;
    font-weight: bold;
}

li {
    display: inline;
    margin-right: 100px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

li:last-child {
    margin-right: 0px;
}

nav {
    margin-bottom: 20px;
}

.section-about {
    height: 640px;
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;

    margin-bottom: 20px;

    position: relative;
}

.section-about__block {
    width: 420px;
    height: 190px;

    position: absolute;

    top: 54%;
    left: 50%;

    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);

    padding-top: 15px;
}

.section_about__border {
    width: 390px;
    height: 160px;
    text-align: left;
    border: 1px solid black;

    margin: 0 auto;

    padding: 17px 0 0 28px;
}

.fish {
    font-size: 12px;
    margin: 0;
    font-family: Roboto;
}

.header_fish {
    font-size: 36px;
    margin: 0;
    font-family: Philosopher;
    margin-bottom: 9px;
}

.section-description {
    margin-bottom: 20px;
}

.section-description__icon-box {
    text-align: center;
    margin-bottom: 20px;
}

.section-description__icon-box img {
    margin-right: 76px;
}

.section-description__icon-box img:last-child {
    margin-right: 0px;
}

.section-description__title {
    font-size: 96px;
    margin: 0px;
    text-align: center;
    font-family: Philosopher;
    margin-bottom: 20px;
}

.red {
    color: #F15B40;
}

.section-description__text {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    font-family: Roboto;
}

.section-map {
    margin-bottom: 20px;
}

.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-family: Philosopher;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 80px;
}

ymaps {
    margin: 0 auto;
}

.ymaps-2-1-79-copyright__link {
    font-size: 11px;
}